/* CSS for AidanH6.github.io */

/* Utility class (colours,text etc) */
:root {
    --main-color: #ffffff;
    --secondary-colour: #000000
}

.paragraph {
    color: var(--secondary-colour);
    font-size: 24px;
    padding-left: 21px;
    text-align: left;
}

.body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    width: 100vw;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: red;
    padding-top: 20px;
}

.pageTitle {
    color: var(--secondary-colour);
    font-size: 42px;
    text-align: left;
}

.content {
    background-color: var(--main-color);
    color: var(--secondary-colour);;
    height: 100vh;
    text-align: center;
}