/* CSS for AidanH6.github.io */

.body {
    min-height: 768px;
    margin: 0px;
    overflow: hidden;
    width: 100%;
}

.header {
    height: 275px;
    position: relative;
}

.imageBlock {
    width: 275px;
    height: 275px;
    background-color: green;
}

.imageThumb {
    background-color: #555555;
    border-radius: 50%;
    height: 245px;
    margin: 15px;
    position: absolute;
    width: 245px;
}

.headerInfo {
    height: 100%;
    left: 275px;
    padding-left: 8px;
    position: absolute;
    width: 100%;
}

.headerText {
    color: #ffffff;
    font-size: 20px;
    height: 75%;
    padding-left: 8px;
    position: absolute;
    width: 100%;
}

.headerSocial {
    background-color: crimson;
    height: 25%;
    position: absolute;
    top: 206px;
    width: 100%;
}

.main {
    text-align: center;
}

.h1 {
    color: #000000;
    font-size: 24;
    padding: 0px;
    margin: 0px;
}
